#Ignore Environment config files
.env
src\web\config\dev.env
src\web\config\web.config
#Ignore Node_Modules
.node_modules
./node_modules
node_modules
src/web/config/dev.env
src/web/config/.env.web.development
src/api/config/.env.api.development
src/api/config/compose.yaml
compose.yaml
redis.conf
src/auth/config/.env.auth.development
logs/
*.log

