<!DOCTYPE html>
<html>
<body style="border: 2px solid black;">
    This is the chatbot html.
    <form name="AIForm" id="AIForm">
    <table>
        <tr>
            <td>Get Fun Fact about:</td>
            <td><input type="text" id="fun_fact" placeholder="Provide a topic" value="Jacksonville Jaguars"></td>
        </tr>
        <tr>
            <td><button id="AIFunFactBtn" type="button">Let's hear it</button></td>
        </tr>
    </table>
    </form>
    
    <div id="funFactResult" style="height: fit-content;"></div> <!-- Added div to display the fun fact result -->
</body>
</html>
<script src="./scripts/chatbot.js"></script>