<!DOCTYPE html>
<html>
    <h1>Status</h1>
</html>

<script>
window.onload = async () => {
  try {
    const data = await fetchData();
    console.log('Status:', data);
  } catch (error) {
    console.error('Oh No!:', error);
  }
};

async function fetchData() {
  try {
    const response = await fetch('http://localhost:3000/api/status');
    if (!response.ok) {
      console.log('Response:', response);
      return response.status;
    }
    const data = await response.json();
    return data;
  } catch (error) {
    console.error('THe function is broken:', error);
  }
}
</script>